.play-alert-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    width: 110px;
    top: 50%;
    left: 50%;
    margin: -55px 0 0 -55px;
    z-index: 570;
}
.loading-spinner-container {
    border-radius: 50%;
    width: 96px;
    height: 96px;
    background: rgba(0, 0, 0, .7);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-spinner-container .loading {
    margin: -36px 0 0 -36px;
    height: 72px;
    width: 72px;
}

.loading-spinner-container .loading:before {
    content: "";
    margin: -30px 0 0 -30px;
    height: 60px;
    width: 60px;
    box-sizing: inherit;

}
.loading-spinner-container .loading, .loading-spinner-container .loading:before {
    animation: animation-rotate 1s linear infinite;
}

.loading-spinner-container .loading:after {
    content: "";
    margin: -42px 0 0 -42px;
    height: 84px;
    width: 84px;
    animation: animation-rotate 2s linear infinite;
}

.loading-spinner-container .loading, .loading-spinner-container .loading:after, .loading-spinner-container .loading:before {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 3px solid rgba(118,184,63,0);
    border-left-color: #76b83f;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
}
div {
    display: block;
}