@import url('fonts/montserrat-500.woff2');
@import url('fonts/montserrat-600.woff2');
@import url('fonts/montserrat-700.woff2');
@import url('fonts/montserrat-regular.woff2');
@import url('fonts/montserrat-500.woff');
@import url('fonts/montserrat-600.woff');
@import url('fonts/montserrat-700.woff');
@import url('fonts/montserrat-regular.woff');
@import url('fonts/montserrat-500.ttf');
@import url('fonts/montserrat-600.ttf');
@import url('fonts/montserrat-700.ttf');
@import url('fonts/montserrat-regular.ttf');
@import url('https://fonts.googleapis.com/css?family=Vollkorn');
@import url('https://fonts.googleapis.com/css?family=Bender');

* {
    padding: 0px;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 14px;
    color: #32343c;
    background: url("img/pattern01.png") repeat;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    /* position: relative; */
    max-width: 1140px;
    margin: 0 auto;
}

h2 {
    margin-top: 0;
    font-family: Vollkorn;
    font-size: 36px;
    color: #32343C;
}


h3 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 13px;
    color: #32343C;
}

h4 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    color: #32343C;
}


.button {
    margin-top: 30px;
    height: 60px;
    width: 200px;
    background: #7BBE4D;
    border: none;
    border-radius: 5px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;
    cursor: pointer;
    transition-duration: .5s;
}

.button--small {
    margin-top: 30px;
    height: 40px;
    width: 165px;
    background: #7BBE4D;
    border: none;
    border-radius: 5px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;
    cursor: pointer;
    transition-duration: .5s;
}

.button:hover {
    background: #81c753;
}

.button--small:hover {
    background: #81c753;
}

/* HEADER */

header {
    position: fixed;
    width: 100%;
    max-height: 110px;
    background: #F1F1F1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.header__container {
    max-width: 1140px;
    max-height: 110px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.menu {
    position: relative;
    left: 0px;
    width: 200px;
    height: 110px;
    min-height: 50px;
}

.menu__toggle {
    position: absolute;
    /* align-self: center; */
    display: block;
    top: 35px;
    width: 250px;
    height: 40px;
    background: url("img/svg/menu.svg") no-repeat center;
    border: none;
    cursor: pointer;
    transition-duration: .5s;

}

.menu__toggle:hover,
.menu__toggle:active {
    background: url("img/svg/menu--.svg") no-repeat center;
    color: #7BBE4D;
}

.menu__toggle:focus {
    outline: 0
}

.menu__items {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    justify-content: space-between;
}

.menu__wrapper {
    width: 275px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 110px;
    z-index: -2;
    background: #F1F1F1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 5px 5px;
}

.menu__item {
    text-transform: uppercase;
    margin: 20px 30px 20px 60px;
}

.menu__item a {
    color: #32343C;
    transition-duration: .5s;
}

.menu__item:hover a,
.menu__item:focus a,
.menu__item:active a {
    color: #7BBE4D;
}

.menu__login {
    text-transform: none;
}

.menu__login::before {
    content: url("img/svg/login-icon.svg");
    vertical-align: middle;
}

.menu--closed .menu__item {
    display: none
}


.menu--closed .menu__user-items {
    display: none
}

.menu--nojs .menu__toggle {
    display: none
}

.menu--nojs .menu__wrapper {
    position: static;
    height: auto
}

.menu--nojs .menu__item {
    display: block
}

.menu--nojs .menu__user-items {
    display: block;
    background-color: #6a4d38
}



.header__logo {
    align-self: center;
    width: 190px;
    height: 79px;
    background: url("img/svg/logo.svg");
}

.header__user-items {
    align-self: center;
    position: relative;
    right: 50px;
}

.header__phone a {
    display: block;
    font-size: 24px;
    font-weight: 600;
    color: #32343C;
    transition-duration: .5s;
}

.header__phone a:hover,
.header__phone a:focus,
.header__phone a:active {
    color: #7BBE4D;
}

/* /HEADER */

/* INFO */

.info {
    background-image: url("img/jpg/img1.jpg");
    position: relative;
    max-width: 100%;
    height: 815px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.info__title {
    position: relative;
    display: block;
    padding-top: 210px;
}

.info__container {
    /* position: relative; */
    /* display: block; */
    max-width: 100%;
    padding-left: 120px;
    /* min-width: 400px; */
}



.info__list {
    position: relative;
    display: block;
    list-style: url("img/svg/list-icon1.svg");
    padding-left: 40px;
    max-width: 50%;
}

.info__item {
    padding-bottom: 20px;
}

/* /INFO */

/*ABOUT*/

.about {
    position: relative;
    background-image: url("img/jpg/img2.jpg");
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 100%;
    height: 940px;
}

.about__container {
    position: relative;
    max-width: 40%;
    left: 50%;
    padding-top: 100px;
}

.about__table {
    height: 150px;
    max-width: 945px;
    background-color: #fcfcfc;
    margin: 100px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.table__title {
    font-weight: 600;
    font-size: 24px;
}

.table__middle {
    display: flex;
}

.table__middle::before,
.table__middle::after {
    content: url("img/svg/line.svg");
    align-self: center;
}

.table__middle::before {
    padding-right: 30px;
}

.table__middle::after {
    padding-left: 30px;
}

/*/ABOUT*/

/* ADVANTAGES */

.features {
    max-width: 946px;
    padding-top: 100px;
    text-align: center;
    margin: 0 auto;
}

.features__subtitle {
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

.features__list {
    padding: 60px 0 60px 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.features__item {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    max-width: 450px;
    text-align: left;
    padding-bottom: 40px;
}

.features__text {
    padding-left: 20px;
    max-width: 360px;
}

.features__text h3 {
    margin-top: 0;
}

/*/ADVANTAGES */

/* BANNER */

.banner {
    /* position: relative; */
    min-height: 760px;
    background: url("img/jpg/banner2.jpg") no-repeat center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.banner__title {
    padding-top: 100px;
    text-align: center;
}

.banner__text {
    max-width: 450px;
    padding-left: 100px;
    font-size: 18px;
}

.banner__button {
    margin-left: 100px;
}

/* /BANNER */

/* FEEDBACK */

.feedback,
.advantages {
    /* position: relative; */
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.feedback__form {
    padding-top: 100px;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;

}

.form__title {
    margin-bottom: 60px;
}

.feedback__button {
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 60px;
}

.form__table {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

@media (max-width: 800px) {
    .form__table {
        flex-wrap: wrap;
    }
}

.table__col1,
.table__col2 {
    min-width: 360px;
    min-height: 42px;
    margin-bottom: 12px;
    padding: 10px;
    background: #F1F1F1;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-weight: 500;
    transition-duration: .5s;
}

.table__col2 {
    min-height: 150px;
    max-width: 360px;
    margin-bottom: 12px;
}

.table__col1:focus,
.table__col2:focus {
    outline-color: #7BBE4D;
}

.feedback__container {
    max-width: 750px;
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;
    padding-left: 0;
}

.feedback__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
}

.feedback__item {
    max-width: 360px;
    background: url('img/svg/quote.svg') no-repeat center;
    padding-bottom: 10px;
}

.partners {
    padding-top: 100px;
    padding-bottom: 80px;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}

.partners__logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.partners__img {
    transition-duration: .5s;
}


.sr {
    background: url("img/svg/partners/sr.svg");
}

.sr:hover {
    background: url("img/svg/partners/sr--.svg") no-repeat center;
}

.yn {
    background: url("img/svg/partners/yan.svg");
}

.yn:hover {
    background: url("img/svg/partners/yan--.svg") no-repeat center;
}

.irr {
    background: url("img/svg/partners/irvr.svg");
}

.irr:hover {
    background: url("img/svg/partners/irvr--.svg") no-repeat center;
}

.rr {
    background: url("img/svg/partners/rr.svg");
}

.rr:hover {
    background: url("img/svg/partners/rr--.svg") no-repeat center;
}

.nii {
    background: url("img/svg/partners/nii.svg");
}

.nii:hover {
    background: url("img/svg/partners/nii--.svg") no-repeat center;
}

.hh {
    background: url("img/svg/partners/hh.svg");
}

.hh:hover {
    background: url("img/svg/partners/hh--.svg") no-repeat center;
}

.sb {
    background: url("img/svg/partners/sb.svg");
}

.sb:hover {
    background: url("img/svg/partners/sb--.svg") no-repeat center;
}

.skb {
    background: url("img/svg/partners/skb.svg");
}

.skb:hover {
    background: url("img/svg/partners/skb--.svg") no-repeat center;
}

.pr {
    background: url("img/svg/partners/pr.svg");
}

.pr:hover {
    background: url("img/svg/partners/pr--.svg") no-repeat center;
}

.tu {
    background: url("img/svg/partners/tu.svg");
}

.tu:hover {
    background: url("img/svg/partners/tu--.svg") no-repeat center;
}

.rjd {
    background: url("img/svg/partners/rjd.svg");
}

.rjd:hover {
    background: url("img/svg/partners/rjd--.svg") no-repeat center;
}

.yo {
    background: url("img/svg/partners/yo.svg");
}

.yo:hover {
    background: url("img/svg/partners/yo--.svg") no-repeat center;
}

.ya {
    background: url("img/svg/partners/ya.svg");
}

.ya:hover {
    background: url("img/svg/partners/ya--.svg") no-repeat center;
}

.ma {
    background: url("img/svg/partners/ma.svg");
}

.ma:hover {
    background: url("img/svg/partners/ma--.svg") no-repeat center;
}

.rt {
    background: url("img/svg/partners/rt.svg");
}

.rt:hover {
    background: url("img/svg/partners/rt--.svg") no-repeat center;
}

.me {
    background: url("img/svg/partners/me.svg");
}

.me:hover {
    background: url("img/svg/partners/me--.svg") no-repeat center;
}

.mts {
    background: url("img/svg/partners/mts.svg");
}

.mts:hover {
    background: url("img/svg/partners/mts--.svg") no-repeat center;
}

.be {
    background: url("img/svg/partners/be.svg");
}

.be:hover {
    background: url("img/svg/partners/be--.svg") no-repeat center;
}

.sr,
.yn,
.irr,
.rr,
.nii,
.hh,
.sb,
.skb,
.pr,
.tu,
.rjd,
.yo,
.ya,
.ma,
.rt,
.me,
.mts,
.be {
    display: block;
    width: 110px;
    height: 84px;
    /* transition-duration: .5s; */
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

/* /FEEDBACK */

/* CONTRACT */

.contract {
    background: url("img/jpg/img3.jpg") no-repeat center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 596px;
}

.contract__container {
    margin-left: 100px;
    margin-top: 75px;
    position: relative;
    display: block;
    max-width: 450px;
}

.contract__title {
    padding-top: 100px;
    margin-top: 0px;
    text-align: center;
}

.contract__text {
    font-size: 18px;
}

/* /CONTRACT */

/* CONTACTS */

.contacts {
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contacts__title {
    padding-top: 100px;
    text-align: center;
}

.contacts__data {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    font-size: 18px;
}

.support {
    text-align: center;
    width: 220px;
    background: url("img/png/phone.png") no-repeat center;
    margin-bottom: 50px;
}

.support__phone {
    color: #7BBE4D;
}

.social {
    width: 160px;
    background: url("img/png/social.png") no-repeat center;
    margin-bottom: 50px;
}

.social__items li {
    padding-bottom: 5px;

}

.social__link {
    display: flex;
    justify-content: space-between;
    color: #32343C;

}

.social__link img {
    vertical-align: middle;
}

.mail {
    width: 340px;
    background: url("img/png/mail.png") no-repeat center;
    margin-bottom: 50px;
}

.mail__items li {
    padding-bottom: 10px;
}

.mail__link {
    color: #7BBE4D;
    text-decoration: underline;
}

.line-break {
    width: 100%;
}

.time {
    width: 330px;
    background: url("img/png/time.png") no-repeat center;
}

.time__b {
    font-weight: 500;
}

.time__items li {
    padding-bottom: 10px;
}

.message__title {
    padding-top: 70px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.message__form {
    padding-top: 50px;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}

.message__button {
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 60px;
}



#tabs {
    max-width: 750px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

.tab__title {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding: 5px 10px;
    color: #C4C4C4;
}

.tab__title--active {
    color: #32343C;
}

.tab__list {
    list-style: url("img/svg/list-icon1.svg") outside;
    padding-left: 40px;
}

.tab__item {
    padding-bottom: 10px;

}

.tab__panel {
    position: relative;
    padding: 10px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/* /CONTACTS */

/* FOOTER */

footer {
    height: 150px;
    background-color: #32343C;
    display: flex;
    justify-content: space-around;
}

.footer__copyright,
.footer__policy {
    color: #FFFFFF;
    align-self: center;
    transition-duration: .5s;
}

.footer__policy {
    text-decoration: underline;
}

.footer__logo {
    width: 190px;
    height: 79px;
    background: url("img/svg/logo-footer.svg");
    align-self: center;
}

.footer a:hover {
    color: #7BBE4D
        /* border-bottom: 2px solid #7BBE4D; */
}

.footer__right {
    align-self: center;
}

.footer__phone {
    float: right;
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
    transition-duration: .5s;
}

/* /FOOTER */


@media (max-width: 599px) {
    h2 {
        font-size: 30px;
    }

    .header__phone a {
        font-size: 18px;
    }

    .header__logo {
        width: 63px;
        height: 60px;
        background: url("img/svg/logo--m.svg") no-repeat;
    }

    .menu {
        width: 100px;
        height: 110px;
        min-height: 50px;
    }

    .menu__toggle {
        width: 50px;
        background: url("img/svg/menu-m.svg") no-repeat center;

    }

    .menu__toggle:hover,
    .menu__toggle:active {
        background: url("img/svg/menu-m--.svg") no-repeat center;
    }

    .info {
        max-height: 700px;
    }

    .info__container {
        left: 0%;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 auto;
    }

    .info__title {
        text-align: center;
        padding-top: 150px;

    }

    .info__button {
        margin: 0 auto;
    }

    .info__list {
        max-width: 100%;

        padding-right: 10px;

    }

    .about__container {
        position: relative;
        max-width: 100%;
        left: 0%;
        padding: 100px 10px 0 10px;
    }

    .about__table {
        height: auto;
        margin: 100px 0 100px 0;
        flex-wrap: wrap;
    }

    .features {
        padding-top: 50px;
    }

    .features__subtitle {
        font-size: 14px;
    }

    .features__list {
        padding: 30px 10px 30px 10px;
    }

    .features__item {
        padding-bottom: 20px;
    }

    .features__text {
        padding-left: 10px;
        text-align: center;
    }

    .features__text h3 {
        text-align: center;
    }

    .features__pic {
        margin: 0 auto;
    }

    .banner {
        min-height: 460px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .banner__title {
        padding-top: 50px;
    }

    .banner__text {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
    }

    .banner__button {
        margin: 0 auto;
    }

    .feedback__item {
        padding-left: 10px;
        padding-right: 10px;
    }

    .message__form {
        padding-top: 30px;
    }

    .table__col1,
    .table__col2 {
        min-width: 300px;
        margin: 0 10px 12px 10px;
    }

    .table__col2 {
        min-height: 150px;
        max-width: 100%;
        margin-bottom: 12px;
    }


    .table__middle::before,
    .table__middle::after {
        display: none;
    }

    .contract__container {
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 auto;
    }

    .contract__text {
        font-size: 14px;
    }

    .contract__button {
        margin: 0 auto;
    }

    .contacts__data {
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer__logo {
        width: 63px;
        height: 60px;
        background: url("img/svg/logo--m.svg") no-repeat;
    }

    .footer__phone {
        font-size: 18px;
    }
    .footer__logopay {
        display: none;
    }
}



::-webkit-scrollbar {
    background-color: transparent;

    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #7BBE4D 0%, #CCE4BC 100%);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

.rect1 {
    position: relative;
    z-index: -1;
    max-width: 1140px;
    height: 10px;
    background: linear-gradient(90deg, #7BBE4D 0%, #CCE4BC 100%);
}

.rect2 {
    position: relative;
    z-index: -1;
    max-width: 1140px;
    height: 10px;
    background: linear-gradient(270deg, #7BBE4D 0%, #CCE4BC 100%);
}





/* POPUP */



.modal-callback {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modal-callback:target {
    display: block;
    pointer-events: auto;
}

.modal-callback>div {
    width: 400px;
    min-width: 280px;
    padding: 40px 25px;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.37);
    text-align: center;

    position: relative;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
}

.modal-callback .close {
    float: right;
}

.modal-callback h2 {
    margin: 10px;
}

.modal-callback .input_check {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 11px;

    margin: 10px;
}

.modal-callback .name {
    height: 60px;
    width: 275px;
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;

    background: #F1F1F1;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);

}

.modal-callback .phone {
    height: 60px;
    width: 275px;
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;

    background: #F1F1F1;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);

}

.modal-callback .btn {
    /* clear: both; */
    height: 60px;
    width: 275px;
    background: #7BBE4D;
    border: none;
    border-radius: 5px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;


    color: #FFFFFF;
    cursor: pointer;

}


/*  */


.modal-login {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modal-login:target {
    display: block;
    pointer-events: auto;
}

.modal-login>div {
    width: 400px;
    min-width: 280px;
    padding: 40px 25px;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.37);
    text-align: center;

    position: relative;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
}

.modal-login .close {
    float: right;
}

.modal-login h2 {
    font-family: Vollkorn;
    font-size: 30px;
    margin: 30px;
}


.modal-login .password,
.modal-login .phone {
    height: 60px;
    width: 275px;
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;

    background: #F1F1F1;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);

}


.modal-login .btn {
    /* clear: both; */
    height: 60px;
    width: 275px;
    background: #7BBE4D;
    border: none;
    border-radius: 5px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;


    color: #FFFFFF;
    cursor: pointer;
}

/*  */

.modal-thanks {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modal-thanks:target {
    display: block;
    pointer-events: auto;
}

.modal-thanks>div {
    width: 400px;
    min-width: 280px;
    padding: 40px 25px;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.37);
    text-align: center;

    position: relative;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
}

.modal-thanks .close {
    float: right;
}


/*  */




.modal-regions {
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modal-regions:target {
    display: block;
    pointer-events: auto;
}

.modal-regions>div {
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.37);
    text-align: center;
    font-size: 17px;

    max-width: 800px;
    width: 100%;
    /* max-height: 700px; */
    /* padding: 60px 50px; */
    text-align: left;
    font-size: 14px;
    position: relative;
    margin: 5% auto;
    padding: 40px;
    border-radius: 5px;

}


.modal-regions h3 {
    margin-bottom: 5px;
    color: #7BBE4D;
}


.modal-regions .close {
    float: right;
}

.modal-regions ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 650px;
    max-height: 700px;

    list-style: none;
}

.modal-regions li {
    display: block;
    width: 30%;
    margin: 1px;
}

.modal-regions .h3-regions {
    text-align: center;
    font-family: Vollkorn;
    color: #32343C;
    font-size: 26px;
    margin-top: 0;
}












/*  */

.modal-personal {
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modal-personal:target {
    display: block;
    pointer-events: auto;
}

.modal-personal>div {
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.37);
    text-align: center;
    font-size: 17px;

    max-width: 770px;
    width: 100%;
    /* padding: 60px 50px; */
    text-align: left;
    font-size: 15px;
    position: relative;
    margin: 10% auto;
    padding: 50px;
    border-radius: 5px;
}

.modal-personal h2 {
    text-align: center;
    margin-top: 20px;
}

.modal-personal p {
    margin-top: 20px;
}

.modal-personal .close {
    float: right;
}

.wrap {
    overflow: auto;
    width: 800px;
    height: 600px;
    list-style: none;
}

/*  */

.modal-contract {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modal-contract:target {
    display: block;
    pointer-events: auto;
}

.modal-contract>div {
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.37);
    text-align: center;
    font-size: 17px;

    max-width: 770px;
    width: 100%;
    /* padding: 60px 50px; */
    text-align: left;
    font-size: 15px;
    position: relative;
    margin: 10% auto;
    padding: 50px;
    border-radius: 5px;
}

.modal-contract h2 {
    text-align: center;
    margin-top: 20px;
}

.modal-contract p {
    margin-top: 20px;
}

.modal-contract .close {
    float: right;
}